<!--baddge-->
              <div class="flex items-center justify-center h-screen bg-white py-[20px] px-[20px] gap-x-2 rounded-full">
                <!--baddge icon-->
                <i class="ri-time-fill text-2xl text-violet-700"></i>
                <div class="uppercase text-base font-medium text-gray-700 tracking-[2.24px] ">support@black-gem.tech</div>
              </div>