<%= turbo_frame_tag id="task_list" do %>
  <table class="table-auto">
    <% for @task in @tasks do%>
      <tr>
        <td>
          <%= link_to @task.name, tasks_path(locale) + '/' + @task.id.to_s, data: {turbo_frame: "_top"} %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
