<table class="table-auto">
    <% for @project in @projects do%>
        <tr>
          <td>
            <%= link_to @project.name, projects_path(locale) + '/' + @project.id.to_s, data: {turbo_action: "replace"} %>
          </td>
        </tr>
      <% end %>

</table>
