<table class="table-auto">
  <% for @user in @users do%>
    <tr>
      <td>
        <%= link_to @user.name, workers_path(locale) + '/' + @user.workers.find_by(project_id: params[:project_id]).id.to_s, data: {turbo_action: "replace"} %>
      </td>
    </tr>
  <% end %>

</table>
